[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
appdirs = "==1.4.4"
certifi = "==2020.11.8"
distlib = "==0.3.1"
filelock = "==3.0.12"
importlib-metadata = "==3.1.1"
pipenv = "==2020.11.15"
six = "==1.15.0"
virtualenv = "==20.2.1"
virtualenv-clone = "==0.5.4"
zipp = "==3.4.0"
python-decouple = ">=3.3"
Django = "*"
