{% extends "main/base.html" %} {% block content%}

<br />

<div class="col-md-7">
    <h5>Patient:</h5>
    <hr />
    <div class="card card-body">
        <a class="btn btn-primary btn-sm btn-block" href="#"
            >Create appointment</a
        >
        <table class="table table-sm">
            <tr>
                <th>Appointment</th>
                <th>Patient</th>
                <th>Time appointment</th>
                <th>Doctor</th>
                <th>Complaint</th>
                <th><a class="update" href="#">update</a></th>
                <th><a class="remove" href="#">remove</a></th>
            </tr>
        </table>
    </div>
</div>

{% endblock %}
