{% extends "main/base.html" %} {% block content%}

<br />

<div class="row">
    <div class="col-md-9">
        <h5>Reception today:</h5>
        <hr />
        <div class="card card-body">
            <a class="btn btn-primary btn-sm btn-block" href="">Create Order</a>
            <table class="table table-sm">
                <tr>
                    <th>Serive time</th>
                    <th>Doctor</th>
                    <th>Service type</th>
                    <th>Price</th>
                </tr>
                <tr>
                    {% for check in service_check %}

                    <td>{{check.date_of_treatment}}</td>
                    <td>{{check.attending_doctor}}</td>
                    <td>{{check.patient}}</td>
                    <td>{{check.treatment}}</td>
                    <td>{{check.price}}</td>

                    {% endfor %}
                </tr>
            </table>
            <td>
                <h3>{{ total_service_today}}</h3>
            </td>
        </div>
    </div>
</div>

{% endblock %}
