<br />
{% extends "main/base.html" %} {% block content%}
<div class="row">
    <div class="col-md">
        <div class="card card-body">
            <h5>Service</h5>
        </div>
        <div class="card card-body">
            <table class="table">
                <tr>
                    <th>Date</th>
                    <th>Doctor</th>
                    <th>Patient</th>
                    <th>Service</th>
                    <th>Price</th>
                </tr>
                <tr>
                    {% for works in service %}
                    <td>{{works.date_of_treatment}}</td>
                    <td>{{works.attending_doctor}}</td>
                    <td>{{works.patient}}</td>
                    <td>{{works.treatment}}</td>
                    <td>{{works.price}}</td>
                </tr>
                {% endfor %}
            </table>
            <td>
                <strong>TOTAL:</strong>
                <!-- <h3>{{totalPriceService}}</h3> -->
            </td>
        </div>
    </div>
</div>

{% endblock %}
